streamlit
google-generativeai>=0.8.3
pandas
pillow
gspread
google-auth
google-api-python-client
matplotlib
numpy
opencv-python-headless
requests
streamlit-drawable-canvas
streamlit-mic-recorder
SpeechRecognition
